<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-5 nav-secondary">
        <ul>
          <li><a href="/news.html">News</a></li>
          <li><a href="/community.html">Community</a></li>
          <li><a href="/features.html">Features</a></li>
          <li><a href="/documentation.html">Documentation</a></li>
          <li><a href="/download.html">Download</a></li>
          <li><a href="/donate.html">Donate</a></li>
        </ul>
      </div>
      <div class="col-md-5 copyright">
        Godot Engine © 2008-2016 Juan Linietsky, Ariel Manzur.
      </div>
      <div class="col-md-2 social">
        <h4><a href="/contact.html">Contact us</a></h4>
        <ul class="social-icons">
          <li><a href="https://www.facebook.com/groups/godotengine/"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://twitter.com/godotengine"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://github.com/godotengine/"><i class="fa fa-github"></i></a></li>
          <li><a href="https://www.reddit.com/r/godot"><i class="fa fa-reddit-alien"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<script src="js/main.js"></script>
