<header>
  <nav>
    <input type="checkbox" id="nav-trigger" class="nav-trigger"><label for="nav-trigger"></label>
    <ul class="pull-left">
      <li><a href="/index.html"><img class="nav-logo" src="media/logo.svg" height="48" alt="Godot Engine"></a></li>
    </ul>
    <ul class="pull-right">
      <li><a href="/news.html">News</a></li>
      <li><a href="/features.html">Features</a></li>
      <li><a href="/download.html">Download</a></li>
      <li><a href="/community.html">Community</a></li>
      <li><a href="/documentation.html">Documentation</a></li>
      <li><a class="donate" href="/donate.html">Donate</a></li>
    </ul>
  </nav>
</header>
