.release,
.download-info {
  background-color: #fff;
  border: 1px solid #888;
}

.release {
  padding: 2rem;
  li {
    list-style-type: none;
  }
  .fa {
    margin-right: 1rem;
  }
}

.release-date {
  margin-top: -1rem;
  font-size: 95%;
}

.download-info {
  padding: 3rem 2rem;
}
